.App {
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    display: grid;
    width: 50vw;
    gap: 10vw;
    grid-template-columns: 1fr 1fr;
}

h3.title,
label {
    color: grey;
}

.list,
form,
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 2px lightgrey solid;
    border-radius: 12px;
    height: 50vh;
}

#burger {
    flex-direction: column-reverse;
}

form,
.buttons {
    height: 150px;
    justify-content: space-evenly;
}

ul {
    padding: 0;
}

.ingredient {
    margin: 5px;
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
